.header img {
  width: 100%;
}
.footer {
  background-color: rgb(79, 67, 149);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.contatoForm {
  display: flex;
  justify-content: center;

}

label {
  display: grid;
  margin: 10px auto;
  }

  .labelForm {
    width: 70%;
    margin-bottom: 8%;
  }