.header {
  text-align: center;
  color: white;
  background-color: #ffffff;
  background-size: cover;
  height: 555px;
}

.header h1 {
  font-size: 40px;
}

.header img {
  width: 20px;
}

.imagemPrincipal{
  background-position: center;
  background-size: cover;
}