.header img {
  width: 100%;
}
.footer {
  background-color: rgb(79, 67, 149);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}
  
  .todasAutoras {
    display: flex;
    flex-wrap: wrap;
    padding: 9% 0% 0% 9%;
  }
  
  .imagemLivros {
    width: 217px;
    height: 310px;
    margin: 6% 15%;
    filter: grayscale(100%);
  }
  
  .blocoAutoras {
    width: 300px;
    height: 400px;
    margin: 10px;
    cursor: inherit;
    
  }
  
  .blocoAutoras p {
  border: 1px solid rgb(79, 67, 149);
  border-radius: 35px;
  color: rgb(79, 67, 149);
  padding: 15px;
  text-align: center;
  font-size: 35px rgb(79, 67, 149);
  cursor: inherit;
  font-family: 'Outfit';
  font-weight: bold;
  margin: 0%;
  cursor: inherit;
  }

  .textovisualfinalAutoras {
    text-align: center;
    font-size: 34px;
    color:rgb(55, 44, 116);
  }

  @media(max-width: 798px){
    .todasAutoras {
    padding: 10% 10% 30% 25%;
    }
    }